 #productSection {
     text-align: center;
     float: right;
     margin: 50px;
 }
 #productSection img {
     margin: 20px;
     border: red solid;
 }
 #header {
     height: 100px;
     background: red;
 }
 #result {
     float: left;
     margin: 20px;
 }
header h1 {
    display: inline;
}
